mlflow==2.16.2
scikit-learn==1.5.2
pandas==2.2.3
numpy==1.26.4
scipy==1.13.1
datasets==3.0.1
spacy==3.7.6
emoji==2.13.2
boto3==1.35.36
fastapi==0.115.0
uvicorn[standard]==0.31.0
pydantic==2.9.2
psycopg2-binary==2.9.9
matplotlib==3.9.2
seaborn==0.13.2
jupyter==1.1.1
